#welcome
  .splash{data: {content: 'worldnamer'}} worldnamer

  #nav.hidden
    = link_to 'Résumé', 'http://careers.stackoverflow.com/worldnamer'
    = link_to '@worldnamer', 'http://twitter.com/worldnamer'
    = link_to '+John LeBoeuf-Little', 'http://plus.google.com/+JohnLeBoeufLittle/posts'
    = link_to 'Log In', '#'
