= render partial: 'nav'

#show-project.contentpane
  = link_to projects_path do
    %i.fa.fa-angle-double-left
  %h1= @project.name
  .description= @project.description

  %h2 Links
  .links
    .link
      .title 10 Must-Read Books for Anyone Who Does Customer Service (Enter to Win Them All!)
      .excerpt 
        These ten books will change the way you look at your customers and your business. 
        When it comes to improving ourselves and our lives, there’s no single better...
      %i.fa.fa-close
    .link
      .title Wow, You Can Recycle That? - Earth911.com
      .excerpt A few weeks ago, Earth911 investigated some of the lesser known recyclables. Sure, they don’t receive as much media attention as some of their co-stars like the...
      %i.fa.fa-close
    .link
      .title Spark Photon: The $19 Internet of Things Kit
      .excerpt We first met Spark this summer when it raised more than $560,000 on Kickstarter for its Arduino-like Spark Core Wi-Fi connector kit. It subsequently went on to...
      %i.fa.fa-close
  #add-link-link 
    %i.fa.fa-plus
    Add