html {
  height: 100%;
  
  body {
    margin: 0;
    height: 100%;
  }
}

.hidden {
  display: none;
}

.notice {
  position: absolute;
  top: 0px;
  right: 10px;
  color: gainsboro;
}

.alert {
  position: absolute;
  top: 0px;
  right: 10px;
  color: gainsboro;
}

.contentpane {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 100px;

  box-sizing: border-box;
  height: 100%;
  padding-left: 25px;
}