#life-plan {
  padding-left: 10px;
  padding-top: 10px;

  .accordion-tabs-minimal .tab-content {
    border-left: 1px solid gainsboro;
    padding-top: 10px; // Line height for the header is 36px - 16px of font = 20px / 2 for top half = 10px
    padding-left: 20px;
  }
  
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    margin-bottom: 10px;

    li.goal {
      position: relative;
      width: 100%;
      color: black;
      font-size: 0.9em;
      margin-bottom: 2px;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;

      span {
        display: inline-block;
        width: 74%;
        margin-left: 1.6em;
      }

      a {
        color: steelblue;
      }

      &:hover {
        background-color: steelblue;
        color: lighten(gainsboro, 5%);

        a {
          background-color: steelblue;
          color: lighten(gainsboro, 5%);
        }
      }

      i.goal-icon {
        display: inline-block;
        width: 1.2em;
        text-align: center;
        position: absolute;
        top: 30%;
      }

      .fa-close {
        float: right;
      }

      .fa-check-circle-o {
        float: right;
        display: none;
        margin-right: 10px;
      }

      &:hover {
        .fa-check-circle-o {
          display: inline;
        }
      }
    }
  }

  form.new_goal {
    width: 90%;

    label, input {
      display: inline-block;
    }

    label {
      width: 100px;
      text-align: left;
    }

    label + input {
      width: 80%;
    }
  }

  form.form_in_place {
    input {
      width: 80%;
      margin: 0px;
      padding: 0px;
    }
  }

  .term {
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
    
    font-family: 'Gruppo', 'GruppoLocal', cursive;
    color: steelblue;
    border-bottom: 1px solid gainsboro;
  }

  h2.life-area {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: capitalize;
    font-family: 'Gruppo', 'GruppoLocal', cursive;
    color: steelblue;
  }

  .vision_container {
  }
}

#smart-guidelines {
  margin-top: 10px;
  display: flex;
  @include flex-wrap(wrap);
  justify-content: space-between;

  .tooltip-item {
    width: 100px;
  }
}