#goals {
  ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 40px;
    margin-bottom: 10px;

    li.goal {
      width: 100%;
      background-color: lighten(gainsboro, 10%);
      color: black;
      font-size: 0.9em;
      border-radius: 3px;
      border: 1px solid gainsboro;
      margin-bottom: 2px;
      padding: 10px;

      a {
        background-color: lighten(gainsboro, 10%);
        color: steelblue;
      }

      &:hover {
        background-color: steelblue;
        color: lighten(gainsboro, 5%);

        a {
          background-color: steelblue;
          color: lighten(gainsboro, 5%);
        }
      }

      i.goal-icon {
        display: inline-block;
        width: 1.2em;
        text-align: center;
      }

      .fa-close {
        float: right;
      }

      .fa-sort {
        margin-right: 5px;
        color: gainsboro;
      }

      &:hover {
        .fa-sort {
          color: lighten(gainsboro, 5%);
        }
      }
    }
  }

  form.new_goal {
    width: 90%;

    label, input {
      display: inline-block;
    }

    label {
      width: 100px;
      text-align: left;
    }

    label + input {
      width: 80%;
    }
  }

  .term {
    &.year {
      margin-top: 0px;
    }

    margin-bottom: 5px;
  }
}

#smart-guidelines {
  margin-top: 10px;
  display: flex;
  @include flex-wrap(wrap);
  justify-content: space-between;

  .tooltip-item {
    width: 100px;
  }
}