ul#nav {
  @include texture(180deg, lighten(gainsboro, 10%), darken(gainsboro, 10%), 51, 0); 

  height: 100%;
  width: 5em;
  position: fixed;
  background-color: lighten(gainsboro, 10%);

  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Gruppo', cursive;
  font-size: 1.25em;
  color: steelblue;

  a {
    text-decoration: none;
    color: steelblue;
  }

  li {
    width: 5.5em;
    overflow: hidden;

    a {
      display: inline-block;
      padding: 10px;
      padding-bottom: 10px;
      width: 100%;
    }

    &:hover {
      background-color: steelblue;
      color: gainsboro;
      border-left: 5px solid gray;

      a {
        padding-left: 5px;
        color: gainsboro;
      }
    }
  }
}
