#projects {
  .container {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    a {
      text-decoration: none;
      color: black;
    }
  }

  .project {
    // JWLL: based on the Bourbon.io cards refill
    $border-radius: 3px !default;
    $base-spacing: 1.5em !default;
    $project-border-color: gainsboro !default;
    $project-border: 1px solid $project-border-color;
    $project-background: lighten($project-border-color, 10%);
    $project-margin: 0.5em;

    @include transition (all 0.2s ease-in-out);

    @include flex-basis(15em);
    @include flex-grow(1);

    background-color: $project-background;
    border-radius: $border-radius;
    border: $project-border;
    box-shadow: 0 2px 4px darken(white, 10%);
    cursor: pointer;
    margin: $project-margin 2*$project-margin $project-margin 0;
    position: relative;

    .name {
      @include transition (all 0.2s ease-in-out);

      background-color: $project-background;
      color: steelblue;
      border-bottom: $project-border;
      border-radius: $border-radius $border-radius 0 0;
      padding: ($base-spacing / 3) ($base-spacing / 2);
      font-family: 'Gruppo', cursive;
      font-weight: bold;
      line-height: 1.5em;
    }

    .fa-close {
      position: absolute;
      color: steelblue;
      right: 10px;
      top: 10px;
    }

    .description {
      font-size: 0.9em;
      line-height: 1.5em;
      padding: ($base-spacing / 2) ($base-spacing / 2);

      p {
        margin: 0 0 ($base-spacing / 2);
      }
    }
    
    &:focus,
    &:hover {
      background-color: lighten($project-background, 5%);
      
      .name {
        color: gainsboro;
        background-color: steelblue;
      }

      .fa-close {
        color: gainsboro;
      }
    }

    &:active {
      background-color: $project-background;

      .project-header {
        background-color: $project-background;
      }
    }
  }
}

#create-project {
  margin-top: 10px;
  .field {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    label {
      min-width: 100px;
      line-height: 2.4em;
    }

    input[type='text'] {
      @include flex-grow(1);
      width: auto;
      margin-right: 25px;
    }
  }
}

#show-project {
  h1 {
    display: inline-block;
    padding: 0;
    margin: 0px;

    font-family: 'Gruppo', cursive;
    color: steelblue;
  }

  h2 {
    font-family: 'Gruppo', cursive;
    color: steelblue;
    margin-bottom: 0;
    border-bottom: 1px solid gainsboro;
    margin-right: 5px;
  }

  .section {
    .fa-close {
      color: steelblue;
      float: right;
      font-size: 0.8em;
      margin-right: 10px;
    }
  }

  .links {
    margin-right: 25px;
    .link {
      border-bottom: 1px solid lighten(gainsboro, 10%);
      padding: 10px;
      position: relative;

      .title {
        font-family: 'Gruppo', cursive;
        font-size: 1.2em;
        color: steelblue;
        margin-right: 20px;
      }

      .excerpt {
        font-size: 0.8em;
      }

      .fa-close {
        position: absolute;
        color: steelblue;
        right: 10px;
        top: 10px;
      }

      &:hover {
        background-color: steelblue;

        a {
          color: lighten(gainsboro, 5%);
        }

        .fa-close {
          color: lighten(gainsboro, 5%);          
        }

        .excerpt {
          color: darken(gainsboro, 5%);          
        }
      }
    }
  }

  #add-link-link, #add-todo-link, #add-section-link {
    color: steelblue;
    margin-top: 10px;

    &:hover {
      color: #90b4d2;;
    }
  }

  a {
    text-decoration: none;
    color: steelblue;

    &:hover {
      color: #90b4d2;
    }
  }

  a#return-link {
    position: absolute;
    left: 10px;
    top: 2px;

    i {
      vertical-align: top;
      line-height: 2.2em;
   }
  }
}

#create-snippet {
  margin-top: 10px;
  .field {
    @include display(flex);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    label {
      min-width: 100px;
      line-height: 2.4em;
    }

    input[type='text'], textarea {
      @include flex-grow(1);
      width: auto;
      margin-right: 25px;
    }
  }
}